<div class="bg"></div>

<nz-layout class="layout">
    <nz-header>
        <div class="logo" (click)="goToUrl('/')">
            <span>T</span>·<span>C</span>·<span>S</span>
        </div>
        <ul nz-menu
            nzTheme="light"
            [nzMode]="'horizontal'"
            style="line-height: 64px;"
        >
                <li nz-menu-item
                    *ngFor="let menu of menuList"
                    [nzSelected]="menu.is_selected"
                    (click)="goToUrl(menu.url)"
                >
                    {{menu.name}}
                </li>
        </ul>
    </nz-header>
    <nz-content class="content">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <app-footer></app-footer>
</nz-layout>
