<nz-sider class="left-side">
    <div class="face-name">
        <div class="face">
            <img alt="face" src="../../../assets/img/iron.svg"/>
        </div>
        <p class="name">
            <span>T</span> · <span>C</span> · <span>S</span>
        </p>
    </div>
    <nz-divider></nz-divider>
    <div class="info">
        <p class="company"><i nz-icon nzType="team" nzTheme="outline"></i>TonyCreativeStudio</p>
        <p class="address"><i nz-icon nzType="environment" nzTheme="outline"></i>魔都·上海</p>
        <p class="email"><i nz-icon nzType="mail" nzTheme="outline"></i><a target="_blank" href="http://mail.126.com">tonycs_y@126.com</a></p>
        <p class="blog"><i nz-icon nzType="paper-clip" nzTheme="outline"></i><a target="_blank" href="http://blog.tcs-y.com">blog.tcs-y.com</a></p>
    </div>
    <nz-divider></nz-divider>
    <div class="baby">
        <img alt="face" src="../../../assets/img/baby.svg"/>
        <p><span>@小草莓</span><span>{{week}} W <ng-container *ngIf="day > 0"> / {{day}} D</ng-container></span></p>
    </div>
    <nz-divider></nz-divider>
    <div class="info">
        <p><i nz-icon nzType="tool" nzTheme="outline"></i><a target="_blank" href="http://mail.126.com">工作小工具</a></p>
        <p><i nz-icon nzType="experiment" nzTheme="outline"></i><a target="_blank" href="http://mail.126.com">Three练习</a></p>
        <p><i nz-icon nzType="experiment" nzTheme="outline"></i><a target="_blank" href="http://mail.126.com">Canvas练习</a></p>
    </div>
</nz-sider>
