<nz-sider>
  <div class="face-name">
    <div class="face">
        <img alt="face" src="../../../assets/img/iron.svg" />
    </div>
    <p class="name">Tony</p>
  </div>
  <div class="desc">
    Hello, World
  </div>
  <nz-divider></nz-divider>
  <div class="info">
    <p class="compony"><i nz-icon nzType="team" nzTheme="outline"></i>TonyCreativeStudio</p>
    <p class="address"><i nz-icon nzType="environment" nzTheme="outline"></i>魔都·上海</p>
    <p class="email"><i nz-icon nzType="mail" nzTheme="outline"></i>tonycs_y@126.com</p>
    <p class="blog"><i nz-icon nzType="paper-clip" nzTheme="outline"></i>blog.tcs-y.com</p>
  </div>
</nz-sider>
