<nz-sider>
  <div class="face-name">
    <div class="face"></div>
    <p class="name">Tony</p>
  </div>
  <div class="desc">
    伪全栈者，前后端皆有涉略，目前偏前端一点，侧重angular框架，在往真(js)全栈的道路上前进着
  </div>
  <nz-divider></nz-divider>
  <div class="info">
    <p class="compony"><i nz-icon type="team" theme="outline"></i>TonyCreativeStudio</p>
    <p class="address"><i nz-icon type="environment" theme="outline"></i>魔都·上海</p>
    <p class="email"><i nz-icon type="mail" theme="outline"></i>tonycs_y@126.com</p>
    <p class="blog"><i nz-icon type="paper-clip" theme="outline"></i>blog.tcs-y.com</p>
  </div>
</nz-sider>
