<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="gacode">GA Code</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="code" formControlName="code" id="gacode">
      <nz-form-explain *ngIf="validateForm.get('code').dirty && validateForm.get('code').errors">
        errors
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item >

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="gaalterEgo">GA alterEgo</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="alterEgo" formControlName="alterEgo" id="gaalterEgo">
      <nz-form-explain *ngIf="validateForm.hasError('identityRevealed') && validateForm.errors" [ngClass]="validateForm.valid">
        identityRevealed
      </nz-form-explain>
    </nz-form-control>

  </nz-form-item >
</form>

<button nz-button (click)="submit()" [nzType]="'primary'">Submit</button>

<div style="margin: 40px;" *ngIf="false">
  <ng-template #indicatorTemplate>
    <i nz-icon type="loading" style="font-size: 24px;"></i>
  </ng-template>
  <nz-spin [nzIndicator]="indicatorTemplate" [nzTip]="'loading'">
  </nz-spin>
</div>