
<div class="content">
  <div>
    <h2>三角函数：Sin曲线</h2>
    <canvas #canvasSin width="700" height="300">
      not surport!
    </canvas>
  </div>

  <!--<div>-->
    <!--<h2>三角函数：Cos曲线</h2>-->
    <!--<canvas #canvasCos width="500" height="500">-->
      <!--not surport!-->
    <!--</canvas>-->
  <!--</div>-->
</div>

<!--<div class="content">-->
  <!--<div>-->
    <!--<canvas #canvasTan width="500" height="500">-->
      <!--not surport!-->
    <!--</canvas>-->
  <!--</div>-->

  <!--<div>-->
  <!--</div>-->
<!--</div>-->

