<div class="bg"></div>

<nz-layout class="layout">
    <app-sider class="left-slider"></app-sider>
    <nz-layout class="right-body">
        <nz-header>
            <div class="nav">
                <ul nz-menu [nzMode]="'horizontal'">
                    <li nz-menu-item
                        *ngFor="let menu of menuList"
                        [nzSelected]="menu.is_selected"
                        [routerLink]="menu.url"
                    >
                        <i nz-icon nzType="{{menu.icon}}" nzTheme="outline"></i>
                        {{menu.name}}
                    </li>
                </ul>
            </div>
        </nz-header>
        <nz-content class="content">
            <router-outlet></router-outlet>
        </nz-content>
        <app-footer></app-footer>
    </nz-layout>
</nz-layout>
