.google-doc-to-translate{
  .warning {
    color: #ff0dd3;
  }

  textarea {
    word-break: keep-all;
    white-space: nowrap;
  }

  .result{
    pre {
      outline: 1px solid #ccc;
      padding: 5px;
      margin: 5px;
      overflow-x: scroll;
    }

    ::ng-deep.string {
      color: green;
    }

    ::ng-deep.number {
      color: darkorange;
    }

    ::ng-deep.boolean {
      color: blue;
    }

    ::ng-deep.null {
      color: magenta;
    }

    ::ng-deep.key {
      color: red;
    }

  }

  #copy-area {
    height: 1px;
    opacity: 0;
  }

  ::ng-deep textarea.ant-input{
    max-height: 400px;
    overflow-y: auto;
  }
}

