<div class="menu-list">

  <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'">
    <ng-container *ngFor="let menu of menuList">
      <ng-container *ngIf="menu.children && menu.children.length">
        <li nz-submenu>
          <span title><i nz-icon type="setting"></i> {{menu.text}}</span>
          <ul>
            <li nz-menu-item *ngFor="let item of menu.children">
              <a (click)="goUrl(item.url)">{{item.text}}</a>
            </li>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="!menu.children">
        <li nz-menu-item>
          <a (click)="goUrl(menu.url)">{{menu.text}}</a>
        </li>
      </ng-container>
    </ng-container>


  </ul>
</div>
<router-outlet></router-outlet>