<div class="content">
    <div>
        <h2>一阶贝塞尔曲线</h2>
        <canvas #canvasOne width="700" height="300">
            not support!
        </canvas>
    </div>

    <div>
        <h2>二阶贝塞尔曲线</h2>
        <canvas #canvasTwo width="700" height="300">
            not support!
        </canvas>
    </div>
    <div>
        <h2>匀速贝塞尔曲线</h2>
        <canvas #canvasFour width="700" height="300">
            not support!
        </canvas>
    </div>
    <div>
        <h2>三阶贝塞尔曲线</h2>
        <canvas #canvasThree width="700" height="300">
            not support!
        </canvas>
    </div>

</div>
