<div>
  <button nz-button [nzType]="'primary'" (click)="add = !add;">Add</button>
  <app-add-hero [style.display]="add ? 'block' : 'none' " (success)="addSuccess($event)"></app-add-hero>
</div>

<nz-list [nzDataSource]="heroes" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-list-item>
      <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              [nzDescription]="nzContent">
        <ng-template #nzTitle>
          <a href="https://ng.ant.design">{{item.name}}</a>
        </ng-template>
        <ng-template #nzContent>
          <div>{{item.created_at | date}}</div>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>