<button class="form" nz-button [nzType]="'primary'" (click)="changeState()">Submit</button>

<!--<div class="square hero">-->

<!--</div>-->

<!--<div class="loading">-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
  <!--<span class="loading-item"></span>-->
<!--</div>-->

<div class="eye">
  <div class="pupil">

  </div>
</div>